query --incompatible_restrict_string_escapes=false
run --incompatible_restrict_string_escapes=false
test --incompatible_restrict_string_escapes=false
build --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64 --incompatible_restrict_string_escapes=false